KAFKA_HOST = kafka
KAFKA_PORT = 9092
KAFKA_TOPIC = view_progress
CLICKHOUSE_HOST = clickhouse-node1
UGC_HOST = ugc_api
UGC_PORT = 8000
UGC_2_HOST = ugc_api_2
UGC_2_PORT = 8000
MONGO_HOST =mongodb
MONGO_PORT = 27017
MONGO_DBNAME = ugc_movies